---
title: custom.scss
author: bgong
date: '2020-10-06'
slug: custom
categories: []
tags: []
subtitle: ''
summary: ''
authors: []
lastmod: '2020-10-06T16:00:15-07:00'
featured: no
image:
  caption: ''
  focal_point: ''
  preview_only: no
projects: []
---
.article-container {
  max-width: 850px;
  padding: 0 20px 0 20px;
  margin: 0 auto 0 auto;
  font-size: 20px;
}